{{ define "styles" }}
<style>
    .orange-box {
        width: 80%;
        background-color: rgb(199, 80, 0);
        border-radius: 10px;

        padding: 1vw;

        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            pointer-events: none;
            color: inherit;
            text-decoration: none;
            cursor: default;
        }
    }
</style>
{{ end }}

{{ define "main" }}
    <div class="orange-box">
        {{ .Content }}
    </div>
{{ end }}
