{{ define "styles" }}
<style>
    body{
        background: none;
    }
    body::before{
        content: '';
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100lvh;
        width: 100%;
        background-image: url('/FietsTogetherTitlePage.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transform: scale(1.1);
        filter: blur(var(--blur-value, 0px));
    }
    main{
        margin-top: 0;
    }
    .hero-content {
        height: 100lvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
        padding: 0 1em;
        box-sizing: border-box;
    }
    @media screen and (orientation: portrait){
        .hero-content {
            max-height: 80lvh;
        }
    }   
    .hero-content p {
        font-size: clamp(1.2rem, 4vw, 2rem);
        margin: 0;
    }
    .hero-content h1 {
        font-size: clamp(2.5rem, 8vw + 1rem, 7rem);
        margin: 0.2em 0;
    }
    .form-section {
        padding: 20vh 1em;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        min-height: 60vh;
    }
    .link-box {
        margin-top: 10%;
        background-color: var(--alea-orange);
        padding: 20px;
        border-radius: 8px;
        width: 70%;
        max-width: 650px;
        max-height: 100px;
        display: flex;  
        justify-content: space-around;
        align-items: center; 
    }
    .link-box:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }
    .video-container{
        display: flex;
        padding-bottom: 3%;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        max-height: 80lvh;
        background-color: var(--alea-darkgreen);
        border: 5px solid var(--alea-darkgreen);
        border-radius: 25px;
    }
    .content-box {
        padding: 1em;
        width: 80vw;
        border-radius: 25px;
        margin: 5em;
        align-items: center;
        justify-content: space-around;
    }
    video {
        max-width: 90%;
        max-height: 90%;
    }
    svg {
        width: 50px;
    }
    img {
        width: 30%; 
        margin: 1em;
    }
    @media screen and (orientation: portrait){
        img {
            width: 80%;
        }
    }
</style>
{{ end }}

{{ define "main" }}
<div class="hero-content">
    {{ .Content }}
    
    {{ range .Site.Params.social }}
        {{ if eq .name "steam" }}
            <a class="link-box" href="{{ .url }}">
                <p>Check it out on Steam!</p>
                {{- with (index $.Site.Data.icons "steam") }}
                    {{ . | safeHTML }}
                {{- end }}
            </a>
        {{ end }}
    {{ end }}

    <h1>↓ ↓ ↓ ↓ ↓</h1>
</div>

<div class="video-container">
    <h2>Fiets - Together Trailer</h2>
    <video controls>
        <source src="{{ "Trailer_Fiets-Together.webm" | relURL }}" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>

<a class="link-box" href="FietsTogether_Presskit.zip" download>
    <h2>Download our presskit!</h2>
</a>

<div class="content-box">
    <h2>We've been founded!</h2>
    <p>We are pleased to announce that the Bavarian State Ministry for Digital Affairs and the FFF Bavaria have funded the creation of our prototype.</p>
    <img src="/FFF-Logo.svg" alt="Logo des FFF-Bayern">
    <img src="/Digitalministerium-Logo.png" alt="Logo des Bayerischen Digitalministeriums">
</div>
{{ end }}