body {
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;

	font-family: 'Jost', sans-serif;
	font-weight: 500;
    color: white;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url('/FietsTogether_NeutralBackground.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

img {
	max-width: 100% ;
}

header {
	overflow: hidden;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}